<div class="transmit-prover">
  <p>
    <img width="50" height="50" class="pull-left" src="http://renheuserfaceimages.b0.upaiyun.com/userface/userdefinednew/1353/5790/01/userface.jpg!normal">
    <a href="http://www.renhe.cn/viewprofile.xhtml?sid=b052a91b89f70664" target="_blank">刘纯杰</a>：
    我分享了一个热门活动：人和网上海法人会第一届金融主题沙龙，主题：《人和网》“上海法人会”第一届金融主题沙龙地点：上海市徐汇区复兴中路1380号（上海交响乐团音乐厅内）时间：2015年5月30日 13:00～16:30费用：30元/人（咖啡or茶水）沙龙主题内容：主题一:新常态下金融股权投资方向，并购及外资如何入。主题二:期现套利如何实现在自己帐户上百分之百盈利。... http://www.renhe.cn/events/actions.html?method=detail&sid=33512          
  </p>
  <textarea class="form-control" rows="3" id="contentTextarea" name="content" atwho="true" atmemberid="140914" atmembername="刘纯杰"></textarea>
  <div class="desc">为了用户有好的使用体验，任何广告、违禁品信息都不会通过内容审查。</div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> 同时评论给刘纯杰
    </label>
  </div>
</div>
