<div class="upload-img-popover">
    <p node-type="filenum">{{text}}</p>
    <ul class="list-unstyled img-list">
      <li class="doupload">
        <a href="javascript:void(0);" class="fileinput-button"><input id="fileupload" type="file" name="files[]" multiple=""></a>
      </li>
   </ul>
</div>