<div class="media-right-top">
	<div class="media-right-top-info">
		<span class="tnm">{{map i18n.text 14}} <br/><span class="mr20">{{data.member.friendCount}}</span></span>
	</div>
	<div class="media-right-top-info">
		 <span class="tnm">{{map i18n.text 15}}<br/><span class="">{{data.member.messageBoardCount}}</span></span>
    </div>
	<div class="media-right-top-code">
		<img src="http://s1.renhe.cn/images/foot/qrcode_heliao.png" alt="QRCod</span></span>e" width="72" height="72">
	</div>
</div>