<div class="renmai-popop-group">
	<div class="setgroup-form clearfix">
		<input type="hidden" name="id" value="{{ids}}">
		{{#each groupList}}
	   <div class="radio pull-left">
		  <label>
		    <input type="radio" name="groupId"  value="{{id}}" {{#is id '===' ../groupId}}checked{{/is}}> {{groupname}}
		  </label>
		</div>
		{{/each}}
	</div>
</div>